/* Le tag x */
p {}
/* La class */
.test {}
/* Toute balise p ayant la classe test */
p.test[name='aymen'] {}

.lampe {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    border-radius: 50%;
    padding: 50px;
}
.on {
    background-color: yellow;
}
.off {
    background-color: white;
    color: black;
}